.NavigationText {
    color: red;
    font-weight: bold;
    float: left;
}

.NavLinks {
    float: right;
    margin-top: 30px;
}

.NavBorder {
    border: 3px, solid black;
}

@media (max-width: 375px) {
    .Navlinks {
        float: left;
    }
}