.Nav {
    overflow: hidden;
    border-bottom: 3px solid black;
}

.NavigationText {
    color: red;
    font-weight: bold;
    margin-left: 20px;
    float: left;
}

.NavLinks {
    margin-right: 20px;
    float: right;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline;
    padding: 12px;
}

@media (min-width: 500px) {
    .NavLinks {
        margin: 0;
        display: felx;
        height: 100%;
        width: auto;
        align-items: center;
    }
}

